<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://source.unsplash.com/random/?<%= @list.name.split(' ').first %>&<%= rand(100) %>);">
  <div class="container">
    <h1><%= @list.name %> Movies</h1>
    <p>View your movie bookmarks and comments below. Click + to add a new bookmark.</p>
  </div>
</div>
<div class="container my-5">
  <% @list.movie_bookmarks.each do |bookmark| %>
    <div class="card-trip">
      <%= image_tag("https://image.tmdb.org/t/p/w500#{bookmark.movie_movie.image_url}") %>
      <div class="card-trip-infos">
        <div>
          <h2><%= bookmark.movie_movie.title %></h2>
          <p><%= bookmark.comment %></p>
        </div>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div>
  <% end %>
  <%= link_to "Create a new bookmark", new_movie_bookmark_path, class: "btn btn-primary w-100 my-3" %>
</div>
